.head-banner{
    
    background-color: black;
    padding-top: 12rem;
    padding-bottom: 12rem;
    background-image: url(https://cdn.wallpapersafari.com/31/87/1MTHAb.jpg);
    background-size: cover;
    background-position: center;
}
.centrato{
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace;


}
.shitpost{

    background-color: black;
    padding-top: 20rem;
    padding-bottom: 20rem;
    background-image: url(giffig.gif);
    background-size: cover;
    background-position: 50% 10%;
    color: red
   

}
.icone{
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #1c87c9;
}

@media screen and (min-width: 768px) {
    .head-banner{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
}

