.head-banner{
    
    background-color: black;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-image: url(banner.webp);
    background-size: cover;
    background-position: center;
}
.centrato{
    width: 100%;


}
.icone{
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .head-banner{
        padding-top: 9rem;
        padding-bottom: 9rem;
    }
    
}
.margin{
    margin: 10px;

}